@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

$header-item-color: rgb(245, 245, 245);

.app-container header {
  width: 100%;
  background: #3b5765;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  a {
    color: $header-item-color;
  }

  @media (max-width: $screen-xs-max) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .name {
    font-size: 1.5em;
    flex: 1;
    margin: 0;

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .subreddit-selector {
    flex: 1;
    max-width: 400px;
    z-index: 10;
    margin-bottom: 1px;

    .Select-control {
      border-radius: 2px;
    }

    @media (max-width: $screen-xs-max) {
      flex: 2;
      margin-top: 5px;
      margin-bottom: 5px;
      max-width: 100%;
    }

    .Select-value,
    .Select-placeholder {
      font-size: 1.1em;
    }
  }

  .links {
    padding: 10px;
    list-style: none;
    font-size: 1.2em;
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;

    li {
      margin-left: 10px;
      color: $header-item-color;
    }

    .mod-login {
      i {
        margin-left: 5px;
      }
    }
  }
}
