@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

.home {
  font-size: 1.4em;
  color: #949494;
  margin-top: 40px;
  text-align: center;
  flex: 1;

  @media (max-width: $screen-xs-max) {
    font-size: 1.2em;
  }
}
