@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

$link-muted-color: #a4a4a4;
$link-muted-color-hover: #5275b5;
$body-background-color: rgb(245, 245, 245);
