@import '../styles/variables';

.home {
  font-size: 1.6em;
  color: #747474;
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);

  @include media-breakpoint-down(xs) {
    font-size: 1.2em;
  }
}
