@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

.log-item {
  .time,
  .mod,
  .action {
    display: inline-block;
    margin-right: 15px;

    i {
      margin-right: 5px;
      color: #444;
    }
  }

  .time {
    float: right;
    margin-right: 0;

    @media (max-width: $screen-xs-max) {
      float: none;
    }
  }

  .contents {
    .title {
      margin-top: 0;
    }

    blockquote {
      font-size: 1em;
      margin-bottom: 5px;
      word-wrap: break-word;
      font-family: verdana, arial, helvetica, sans-serif; // match reddit's default content font
    }

    .author {
      margin-top: 5px;
      font-style: italic;
    }
  }

  .automod-action {
    padding: 8px 15px;

    .reason {
      margin-left: 5px;
    }
  }

  .filter-by {
    float: right;
  }

  .permalinks {
    display: inline-block;

    a:not(:last-child) {
      margin-right: 15px;
    }
  }

  .filter-toggle {
    cursor: pointer;
  }
}
