.subreddit-info {
  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 2px;
  }

  strong {
    margin-right: 2px;
  }

  .subreddit-name {
    margin: 0 0 15px;
  }

  .external-links {
    margin-top: 20px;
  }
}
